* {
   box-sizing: border-box;
   margin: 0;
}

body,
html {
   min-height: 100vh;
   font-style: italic;
   background: linear-gradient(#356e66, #04322c);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
   padding: 0 calc(50vw - 300px);
   &__title {
      margin-top: 30px;
      font-weight: normal;
      text-align: center;
   }
}
